/* * {
  border: 1px solid red;
} */

body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  /* font-family: 'Tomorrow', sans-serif !important; */
  font-family: 'Exo 2', Arial, sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #012 !important;
  color: #ffc107 !important;
}

/* Material UI */
.MuiButton-containedPrimary {
  color: #ffc107 !important;
  background-color: #0C2339 !important;
}

.MuiToolbar-root {
  color: #ffc107 !important;
  background-color: #0C2339 !important;
}

.MuiTableCell-root {
  border-bottom: 1px solid #ffc107 !important;
}

.MuiInputBase-root {
  color: #ffc107 !important;
}

.MuiIconButton-label {
  color: #ffc107 !important;
}

.MuiMenu-list {
  background-color: #0C2339 !important;
  color: #ffc107;
}

.MuiSelect-icon {
  color: #ffc107 !important;
}

.MuiTypography-caption {
  color: #ffc107 !important;
}

.MuiInput-underline:before {
  border-bottom: 1px solid #ffc107 !important;
}

.MuiInput-underline:after {
  border-bottom: 1px solid #ff7f07 !important;
}

.MuiTableCell-body {
  background-color: #0C2339 !important;
  color: #ffc107 !important;
}

.MuiTable-root {
  background-color: #0C2339 !important;
}

.MuiCircularProgress-colorPrimary {
  color: #0C2339 !important;
}

.MuiTableSortLabel-root:hover {
  color: #ffa807 !important;
}

.MuiTableSortLabel-root.MuiTableSortLabel-active {
  color: #ffc107 !important;
}

.MuiTableSortLabel-root.MuiTableSortLabel-active.MuiTableSortLabel-root.MuiTableSortLabel-active .MuiTableSortLabel-icon {
  color: #ffa807 !important;
}

/* Bootstrap */
.nav-link {
  cursor: pointer;
}

.nav-tabs .nav-link:hover {
  border: 1px solid #ffc107 !important;
}

.nav-tabs {
  border-bottom: 1px solid #ffc107 !important;
}

.nav-tabs .nav-link {
  border: 1px solid #ffc107 !important;
}

.nav-tabs .nav-link.active {
  color: #0C2339 !important;
  background-color: #ffc107 !important;
  border-color: none !important;
}

.new-cases {
  color: #ffc107 !important;
}

.empty-zone {
  padding: 20px;
}

.col-sm-4 {
  padding-bottom: 10px;
}

.card {
  background-color: #0C2339 !important;
  border-color: 1px solid rgba(120, 200, 255, 0.2) !important;
}

.table-dark {
  color: #ffc107 !important;
}

table {
  border-collapse: collapse;
  width: 100%;
  text-align: center;
}

th, td {
  text-align: left;
  padding: 8px;
}

.table-dark {
  /* background: linear-gradient(to right, #003b46, #07575b) !important; */
  background: #0C2339 !important;
}

.table-dark td, .table-dark th, .table-dark thead th {
  border-color: 1px solid rgba(120, 200, 255, 0.2) !important;
}

.swal2-popup {
  border-radius: 0 !important;
}

.swal2-styled.swal2-confirm {
  background: #021c1e !important;
  color: #c4dfe6 !important;
  border-radius: 0 !important;
}

.swal2-styled.swal2-cancel {
  border-radius: 0 !important;
}